@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.container {
  background-color: #ffcccc; /* Light pink background */
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.loveQuote {
  font-size: 36px;
  font-weight: bold;
  color: #ff3366; /* Light pink color for love */
  font-family: 'Quicksand', sans-serif; /* Quicksand font */
  text-align: center; /* Center the quote text */
  margin-bottom: 20px;
}

.countdownContainer {
  margin-top: 20px;
}

.countdownText {
  font-size: 20px;
  font-weight: bold;
  color: #ff3366; /* Light pink color for countdown text */
  font-family: 'Quicksand', sans-serif; /* Quicksand font */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text */
}

.countdown {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 10px;
  border-radius: 10px;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif; /* Quicksand font */
  color: #444;
}

.imageContainer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  .countdown {
    font-size: 16px; /* Decrease font size for mobile */
  }
}